/******* Logo animation ********/

.textanimate {
  -webkit-animation: color-change 18s infinite;
  -moz-animation: color-change 18s infinite;
  -o-animation: color-change 18s infinite;
  -ms-animation: color-change 18s infinite;
  animation: color-change 18s infinite;
}

@-webkit-keyframes color-change {
  0% {
    color: #440099;
  }
  35% {
    color: #9adbe8;
  }
  66% {
    color: #131e29;
  }
  100% {
    color: #440099;
  }
}
@-moz-keyframes color-change {
  0% {
    color: #440099;
  }
  35% {
    color: #9adbe8;
  }
  66% {
    color: #131e29;
  }
  100% {
    color: #440099;
  }
}
@-ms-keyframes color-change {
  0% {
    color: #440099;
  }
  35% {
    color: #9adbe8;
  }
  66% {
    color: #131e29;
  }
  100% {
    color: #440099;
  }
}
@-o-keyframes color-change {
  0% {
    color: #440099;
  }
  35% {
    color: #9adbe8;
  }
  66% {
    color: #131e29;
  }
  100% {
    color: #440099;
  }
}
@keyframes color-change {
  0% {
    color: #440099;
  }
  35% {
    color: #9adbe8;
  }
  66% {
    color: #131e29;
  }
  100% {
    color: #440099;
  }
}

/******
* Typing
*/
@keyframes typing {
  from {
    width: 0%;
    opacity: 0;
    border-right: 2px solid #00aeef;
  }
  to {
    opacity: 1;
    width: 100%;
    border-right: 0;
  }
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #00aeef;
  }
}

/******
* Scroll Down Button
*/
@-webkit-keyframes sdb {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

/******
* Hover link
*/
@keyframes inline-link-hover {
  0% {
    background-size: 100% 2px;
    background-position: left 85%;
  }
  49% {
    background-size: 0px 2px;
    background-position: left 85%;
  }
  50% {
    background-size: 0px 2px;
    background-position: right 85%;
  }
  100% {
    background-size: 100% 2px;
    background-position: right 85%;
  }
}

@keyframes link-hover {
  0% {
    transform: scaleX(1);
    transform-origin: top right;
  }
  49% {
    transform: scaleX(0);
    transform-origin: top right;
  }
  50% {
    transform: scaleX(0);
    transform-origin: top left;
  }
  100% {
    transform: scaleX(1);
    transform-origin: top left;
  }
}

@keyframes random-border-colour {
  0% {
    border-left-color: rgb(7, 241, 191);
  }
  10% {
    border-left-color: #00aeef;
  }
  30% {
    border-left-color: #ea005e;
  }
  40% {
    border-left-color: #a3ce71;
  }
  50% {
    border-left-color: "#ffaf0f";
  }
  60% {
    border-left-color: "#bf0fff";
  }
  70% {
    border-left-color: "#251d5a";
  }
  80% {
    border-left-color: #a0aec0;
  }
  90% {
    border-left-color: rgb(253, 95, 109);
  }
}

.random-border-colour {
  color: white;
  animation: random-border-colour 20s ease infinite;
}

@keyframes AnimateBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  to {
    background-position: 0% 50%;
  }
}
