.hiddenTt {
  display: none;
}

div.tooltip {
  color: #222; 
  background: #fff; 
  border-radius: 3px; 
  box-shadow: 0px 0px 2px 0px #a6a6a6; 
  padding: .5em; 
  text-shadow: #f5f5f5 0 1px 0;
  opacity: 0.9; 
  position: absolute;
}