.react-tabs {
  -webkit-tap-highlight-color: transparent;

  &__tab-list {
    border-bottom: 1px solid rgba(31, 41, 55, 1);
    margin: 0 0 10px;
    padding: 0;
  }

  &__tab {
    display: inline-block;
    border: 2px solid transparent;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 5px 15px;
    cursor: pointer;
    color: rgb(189, 189, 189);
    background-color: rgba(31, 41, 55, 1);
    font-size: 0.95rem;
    transition: 0.3s ease;

    &--selected {
      background: rgba(55, 65, 81, 1);
      color: white;
      border-bottom: 2px solid var.$colour-brand-blue;

      &:hover {
        background: rgba(255, 255, 255, 1);
        color: black;
      }
    }

    &--disabled {
      color: GrayText;
      cursor: default;
    }

    &:hover {
      background: rgba(55, 65, 81, 1);
      color: white;
    }

    &:focus {
      border-color: var.$colour-brand-blue;
      outline: none;
    }
  }

  &__tab-panel {
    display: none;
    font-size: 0.95rem;
    color: rgba(209, 213, 219, 1);
    background-color: var.$colour-brand-black;

    &--selected {
      display: block;
    }

    a {
      color: var.$colour-brand-blue;

      &:hover {
        background: var.$colour-brand-purple;
      }
    }
  }
}
