/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/base.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/base";
 */

/* purgecss start ignore */
@tailwind base;




/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
 @tailwind components;
/* purgecss end ignore */

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

a[alt]:hover:after {
  content: attr(alt);
  background-color: #1b1b1b;
  color: white;
  padding: 6px 10px;
  font-weight: 700;
  font-size: 13px;
  position: absolute;

  margin-top: -3vh;
  margin-left: -1vw;
}

a {
  color: #4e4e4e;
}

 a:hover {
   color: #00aeef;
 }


.embedVideoIframe {
  margin: auto;
  width: 80%;
}

p {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: normal;
  line-break: strict;
  hyphens: none;
  -webkit-hyphens: none;
  -moz-hyphens: none;  
}

::-moz-selection { background: #00aeef; color: white }
::selection { background: #00aeef; color: white }

text-box::after {
  content: '';
  display: block;
  width: 40px;
  height: 4px;
  margin: .9em 0 1em;
  background: #F0CC71;
}

/******* Logo animation ********/

.textanimate {
  -webkit-animation: color-change 23s infinite;
  -moz-animation: color-change 23s infinite;
  -o-animation: color-change 23s infinite;
  -ms-animation: color-change 23s infinite;
  animation: color-change 23s infinite;
}

@-webkit-keyframes color-change {
  0% { color: white; }
  10% { color: #00aeef; }
  20% { color: #e6cd00; }
  30% { color: #ff5e5e; }
  40% { color: #ea005e; }
  50% { color: #db00ea; }
  60% { color: #5800ea; }
  70% { color: #eaaf00; }
  80% { color: #cbea00; }
  90% { color: #677B8C; }
  100% { color: white; }
}
@-moz-keyframes color-change {
  0% { color: white; }
  10% { color: #00aeef; }
  20% { color: #e6cd00; }
  30% { color: #ff5e5e; }
  40% { color: #ea005e; }
  50% { color: #db00ea; }
  60% { color: #5800ea; }
  70% { color: #eaaf00; }
  80% { color: #cbea00; }
  90% { color: #677B8C; }
  100% { color: white; }
}
@-ms-keyframes color-change {
  0% { color: white; }
  10% { color: #00aeef; }
  20% { color: #e6cd00; }
  30% { color: #ff5e5e; }
  40% { color: #ea005e; }
  50% { color: #db00ea; }
  60% { color: #5800ea; }
  70% { color: #eaaf00; }
  80% { color: #cbea00; }
  90% { color: #677B8C; }
  100% { color: white; }
}
@-o-keyframes color-change {
  0% { color: white; }
  10% { color: #00aeef; }
  20% { color: #e6cd00; }
  30% { color: #ff5e5e; }
  40% { color: #ea005e; }
  50% { color: #db00ea; }
  60% { color: #5800ea; }
  70% { color: #eaaf00; }
  80% { color: #cbea00; }
  90% { color: #677B8C; }
  100% { color: white; }
}
@keyframes color-change {
  0% { color: white; }
  10% { color: #00aeef; }
  20% { color: #e6cd00; }
  30% { color: #ff5e5e; }
  40% { color: #ea005e; }
  50% { color: #db00ea; }
  60% { color: #5800ea; }
  70% { color: #eaaf00; }
  80% { color: #cbea00; }
  90% { color: #677B8C; }
  100% { color: white; }
}


/******** Scroll to Top button ********/

.scrollTop-btn {
position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgba(0, 0, 0, 0.8);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  border-radius: 35px;
  display: block;
  transition: all 0.7s ease;
  z-index: 99;
  text-align: center;
  opacity: 0;
}

.scrollTop-btn:hover {
/*     background: rgba(0, 0, 0, 0.9); */
	background: #00aeef;
  z-index: 99;
}

.scrollTop-btn > .scrollTopArrow {
  top: 7px;
  left: 10px;
  transition: all .4s ease;
}

.scrollTop-btn:hover > .scrollTopArrow {
  top: 2px;
  left: 10px;
  z-index: 99;
  color: white;
  transition: all .4s ease;
}




/*********  Home Search bar & animation ***************/
.searchIcon {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.typewriter p {
  white-space:nowrap;
  overflow:hidden;
  -webkit-animation: typing 1.5s steps(30, end), blink .75s step-end infinite;
  animation: typing 1.5s steps(30, end), blink .75s step-end infinite;
}

.typewriter p:nth-child(2) {
    white-space:nowrap;
    overflow:hidden;
    opacity: 0;    
    -webkit-animation: typing 1.5s steps(30, end), blink .75s step-end infinite;
    animation: typing 1.5s steps(30, end), blink .75s step-end infinite;
    -webkit-animation-delay: 2s; 
    animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes typing {
  from { 
      width: 0%;
      opacity: 0;
      border-right: 2px solid #00aeef;
  }
  to { 
      opacity: 1;
      width: 100%;
      border-right: 0;
  }
}

@keyframes blink {
  from, to { 
      border-color: transparent 
  }
  50% { 
      border-color: #00aeef; 
  }
}


/*********  Home Scroll down button & animation  ***************/
#scrollDown-btn a span {
  position: absolute;
  top: 0;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb 1.5s infinite;
  animation: sdb 1.5s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

.arrow_box {
  position: relative;
  background-color: black;
	border-top: 4px solid black;
}
.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	left: 18%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
  pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #000000;
	border-width: 20px;
  margin-left: -20px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #000000;
	border-width: 26px;
  margin-left: -26px;
}

.group:hover > .arrow_box {
  border-top: 4px solid #00aeef;
}
.group:hover > .arrow_box:before {
  border-bottom-color: #00aeef;
}



/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */

  @tailwind utilities;
/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */

.noScrollBar {
-ms-overflow-style: none;  /* Internet Explorer 10+ */
scrollbar-width: none;  /* Firefox */
}

.noScrollBar::-webkit-scrollbar { 
display: none;  /* Safari and Chrome */
}

@responsive{
  @variants hover, group-hover {
    .greyScale-0 {
      filter: grayscale(0%);
    }
    .greyScale-20 {
      filter: grayscale(20%);
    }
    .greyScale-40 {
      filter: grayscale(40%);
    }
    .greyScale-60 {
      filter: grayscale(60%);
    }
    .greyScale-80 {
      filter: grayscale(80%);
    }
    .greyScale-100 {
      filter: grayscale(100%);
    }
  
    .blur-0 {
      filter: blur(0px);
    }
    .blur-2 {
      filter: blur(2px);
    }
    .blur-4 {
      filter: blur(4px);
    }
    .blur-6 {
      filter: blur(6px);
    }
    .blur-8 {
      filter: blur(8px);
    }
    .blur-10 {
      filter: blur(10px);
    }

  }
}


