/* Small (sm) */
@media (min-width: 640px) {

}

/* Medium (md) */
@media (min-width: 768px) {
  
}

/* Large (lg) */
@media (min-width: 1024px) { 
  .fade-box2 {
    max-height: 120px;
  }
}

/* ipap pro (ipadp) */
@media (min-width: 1030px) { 

}

/* Extra Large (xl) */
@media (min-width: 1281px) {

}

/* Extra 2 Large (2xl) */
@media (min-width: 1441px) {
  .fade-box2 {
    max-height: 200px;
  }
  .fade-box2:after {
    height: calc((8.75vw - 30px)/2) !important;
  }
}

/*****
* Linear Faded box for blog grid
*/
.fade-box:before {
  content:'';
  width:100%;
  height:10%;    
  position:absolute;
  left:0;
  bottom:0;
  z-index: 10;
  background:linear-gradient(transparent 10px, white);
}


.fade-box2:after {
  background-size: 100%;
  background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0,rgba(255,255,255,0)),color-stop(100%,#fff));
  background-image: -moz-linear-gradient(rgba(255,255,255,0),#fff);
  background-image: -webkit-linear-gradient(rgba(255,255,255,0),#fff);
  background-image: linear-gradient(rgba(255,255,255,0),#fff);
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: calc((18.75vw - 30px)/ 2);
}     


/*******
* Scroll to Top button 
*/
.scrollTop-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgba(0, 0, 0, 0.8);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  border-radius: 35px;
  display: block;
  transition: all 0.7s ease;
  z-index: 99;
  text-align: center;
  opacity: 0;
}
  
.scrollTop-btn:hover {
/*     background: rgba(0, 0, 0, 0.9); */
  background: #00aeef;
  z-index: 99;
}

.scrollTop-btn > .scrollTopArrow {
  top: 7px;
  left: 10px;
  transition: all .4s ease;
}

.scrollTop-btn:hover > .scrollTopArrow {
  top: 2px;
  left: 10px;
  z-index: 99;
  color: white;
  transition: all .4s ease;
}


/*********  
Home Search bar & animation 
**********
*****/
.searchIcon {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.typewriter p {
  white-space:nowrap;
  overflow:hidden;
  -webkit-animation: typing 1.5s steps(30, end), blink .75s step-end infinite;
  animation: typing 1.5s steps(30, end), blink .75s step-end infinite;
}

.typewriter p:nth-child(2) {
  white-space:nowrap;
  overflow:hidden;
  opacity: 0;    
  -webkit-animation: typing 1.5s steps(30, end), blink .75s step-end infinite;
  animation: typing 1.5s steps(30, end), blink .75s step-end infinite;
  -webkit-animation-delay: 2s; 
  animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}


/******** 
*Home Scroll down button & animation  
**/
#scrollDown-btn span {
  position: absolute;
  top: 0;
  border-left: 2px solid rgb(61, 61, 61);
  border-bottom: 2px solid rgb(68, 68, 68);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb 1.5s infinite;
  animation: sdb 1.5s infinite;
  box-sizing: border-box;
}


/******** 
* Link hover animation 
**/
.a-inline {
  color: #000000;
  padding-bottom: 4px;
  background: linear-gradient(to right,#00aeef 0%,#00aeef 98%);
  background-size: 100% 2px;
  background-repeat: no-repeat;
  background-position: right 85%;
  text-shadow: none;
  transition: .3s linear;
}

.a-line-hover {
  background: none;
}

.a-inline:hover, .a-inline:link:active, .a-inline:visited:active, .a-inline:visited:hover, 
.a-inline-hover:hover, .a-inline-hover:link:active, .a-inline-hover:visited:active, .a-inline-hover:visited:hover
{
  color: #00aeef;
  animation: inline-link-hover .6s ease-out 1;
}