/* Large (lg) */
@media (min-width: 1024px) { 
  .fade-box2 {
    max-height: 130px;
  }
}


/* Extra Large (xl) */
@media (min-width: 1281px) {
  .fade-box2 {
    max-height: 175px;
  }
}

/* Extra 2 Large (2xl) */
@media (min-width: 1400px) {
  .fade-box2 {
    max-height: 232px;
  }
  .fade-box2:after {
    height: calc((13.75vw - 30px) / 2) !important;
  }
}

/*****
* Linear Faded box for blog grid
*/
.fade-box:before {
  content:'';
  width:100%;
  height:10%;    
  position:absolute;
  left:0;
  bottom:0;
  z-index: 10;
  background:linear-gradient(transparent 10px, white);
}


.fade-box2:after {
  background-size: 100%;
  background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0,rgba(255,255,255,0)),color-stop(100%,#fff));
  background-image: -moz-linear-gradient(rgba(255,255,255,0),#fff);
  background-image: -webkit-linear-gradient(rgba(255,255,255,0),#fff);
  background-image: linear-gradient(rgba(255,255,255,0),#fff);
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: calc((18.75vw - 30px) / 2);
}     


/*******
* Scroll to Top button 
*/
.scrollTop-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgba(0, 0, 0, 0.8);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  border-radius: 35px;
  transition: all 0.7s ease;
  z-index: 99;
  text-align: center;
  opacity: 0;

  &:hover {
    /*     background: rgba(0, 0, 0, 0.9); */
  background: #00aeef;
  z-index: 99;
  }

  & > .scrollTopArrow {
    top: 7px;
    left: 10px;
    transition: all .4s ease;
  }

  &:hover > .scrollTopArrow {
    top: 2px;
    left: 10px;
    z-index: 99;
    color: white;
    transition: all .4s ease;
  }
}

/*********  
Home Search bar & animation 
**********
*****/
.searchIcon {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.typewriter {
  p {
    white-space:nowrap;
    overflow:hidden;
    -webkit-animation: typing 1.5s steps(30, end), blink .75s step-end infinite;
    animation: typing 1.5s steps(30, end), blink .75s step-end infinite;
    
    &:nth-child(2) {
      opacity: 0;    
      -webkit-animation-delay: 2s; 
      animation-delay: 2s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
    }
  }
}

/******** 
*Home Scroll down button & animation  
**/
#scrollDown-btn span {
  position: absolute;
  top: 0;
  border-left: 2px solid rgb(61, 61, 61);
  border-bottom: 2px solid rgb(68, 68, 68);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb 1.5s infinite;
  animation: sdb 1.5s infinite;
  box-sizing: border-box;
}


/******** 
* Link hover animation 
**/
.link-effect {
  color: #000000;
  padding-bottom: 4px;
  background: linear-gradient(225deg, rgba(255,121,180,1) 10%, rgba(41,197,255,1) 100%);
  background-size: 100% 2px;
  background-repeat: no-repeat;
  background-position: right 85%;
  text-shadow: none;
  transition: .3s linear;

  // &:hover {
  //   background: none;
  // }
}

.link-effect:hover, .link-effect:link:active, .link-effect:visited:active, .link-effect:visited:hover, 
.link-effect-hover:hover, .link-effect-hover:link:active, .link-effect-hover:visited:active, .link-effect-hover:visited:hover
{
  color: #00aeef;
  animation: inline-link-hover .6s ease-out 1;
}


/* Past event effect 
*
*/
.pastEvent {
  border: 2px solid #2c5282;
  //border-right: solid 6px #2c5282;
  border-width: 2px 3px 2px 3px;
  transition: .2s ease;
  background: white;

  &:hover {
    border-image-source: linear-gradient(225deg, rgba(255,121,180,1) 10%, rgba(41,197,255,1) 100%);
    border-image-slice: 1;
    //background: linear-gradient(225deg, rgba(255,121,180,1) 10%, rgba(41,197,255,1) 100%);
  }
}


/* Text effect
*
*/
.text-effect {
  background: linear-gradient(225deg, rgb(0, 0, 0) 10%, rgb(0, 0, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: .5s ease;

  &:hover {
    background: linear-gradient(225deg, rgba(255,121,180,1) 10%, rgba(41,197,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

/*
* Table of content
*/
.TOC {

  & li > a {
    color: rgb(158, 158, 158);
    transition: .5s ease;
  }
  & li.active > a {
    color: rgb(34, 34, 34);
    font-weight: 600;
    border-left: #00aeef 6px solid;
    padding-left: 8px;
  }
}


/* 
*  Accessibility statement
*/
.accAbt {
	padding-left: 1rem;
	margin-top: 2.5rem;
	margin-bottom: 1.3rem;	
	border-left: 1rem solid #11b1ff;
	font-family: "TUOS Stephenson",Georgia,Times,serif;
}
h1.accAbt {
	@extend .accAbt;
	font-size: 2rem;
	margin-top: 5rem;
	border-left: 1.7rem solid #1961ae;
}
h2.accAbt {
	@extend .accAbt;
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
}
.accAbtSubItem {
	padding-left: 2rem;
}
