name: CI

on:
  push:
    branches-ignore: [ master ]
  pull_request:
    branches: [ 'master', 'development' ]
    types: [         
      opened,
      synchronize,
      reopened ]
  workflow_dispatch:
    inputs:
      Name:   
        description: 'A name for this re-run'
        required: true
        default: 'Re-run the workflow'
      Description:
        description: 'A description for this re-run'
        required: false
        default: ''  

jobs:
  Check-Duplicate:
    runs-on: ubuntu-latest
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}
    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@master
        with:
          skip_after_successful_duplicate: 'true'
          concurrent_skipping: 'same_content_newer'
          cancel_others: 'true'

  CI-Build:
    needs: Check-Duplicate
    if: ${{ needs.Check-Duplicate.outputs.should_skip != 'true' }}
    runs-on: windows-2019
    defaults:
      run:
        shell: bash
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.9.1

      - uses: actions/checkout@v2

      - name: NPM Cache
        id: npm-cache
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-npm-cache-${{ hashFiles('**/package-lock.json') }}
          restore-keys: ${{ runner.os }}-npm-cache-
          
      # Retrieve gatsby cache
      # Creates new cache when OS/run_id changes
      - name: Gatsby Cache
        id: gatsby-ci-cache
        uses: actions/cache@v2
        with:
          path: |
            public
            .cache
          key: ${{ runner.os }}-gatsby-ci-${{ github.run_id }} 
          restore-keys: ${{ runner.os }}-gatsby-ci-

      - name: Install playwright dependencies
        uses: microsoft/playwright-github-action@v1

      - name: Install dependencies
        run: npm ci
      
      # Enable incremental build
      - name: Incremental build
        run: NODE_OPTIONS=--max_old_space_size=4096 npm run build:noGA
        env:
          EVENT_API_KEY_1: ${{ secrets.EVENT_API_KEY_1 }}
          EVENT_API_KEY_2: ${{ secrets.EVENT_API_KEY_2 }}
          EVENT_ORG_ID_1: ${{ secrets.EVENT_ORG_ID_1 }}
          EVENT_ORG_ID_2: ${{ secrets.EVENT_ORG_ID_2 }}
          GATSBY_GH_APP_GITALK_ID: ${{ secrets.GATSBY_GH_APP_GITALK_ID }}
          GATSBY_GH_APP_GITALK_SECRET: ${{ secrets.GATSBY_GH_APP_GITALK_SECRET }}
          GATSBY_ENV: ${{ secrets.GATSBY_ENV }}
          
      - name: Serve and E2E test
        run: npm run serve & npm run test:e2e

  Test:
    needs: Check-Duplicate
    if: ${{ needs.Check-Duplicate.outputs.should_skip != 'true' }}
    runs-on: windows-2019
    defaults:
      run:
        shell: bash
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.9.1

      - uses: actions/checkout@v2

      - name: NPM Cache
        id: npm-cache
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-npm-cache-${{ hashFiles('**/package-lock.json') }}
          restore-keys: ${{ runner.os }}-npm-cache-

      - name: Install playwright dependencies
        uses: microsoft/playwright-github-action@v1

      - name: Install dependencies
        run: npm ci

      - name: Jest cache
        id: gatsby-jest-cache
        uses: actions/cache@v2
        with:
          path: .jest-cache
          key: ${{ runner.os }}-jestCache-${{ github.run_id }}
          restore-keys: ${{ runner.os }}-jestCache-

      - name: tests
        run: npm run test
