name: Deploy-QA

on:
  workflow_run:
    workflows: ["CI"]
    branches: [development]
    types: [completed]

  workflow_dispatch:
    inputs:
      Name:   
        required: true
        default: 'Re-run the workflow'
      Description:
        default: ''  

jobs:
  Deploy-QA:
    runs-on: windows-2019
    defaults:
      run:
        shell: bash
    if: ${{ github.event_name == 'workflow_dispatch' || github.event.workflow_run.conclusion == 'success' }}
    
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.9.1
        
      - uses: actions/checkout@v3
      
      - name: NPM Cache
        id: npm-cache
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-npm-cache-${{ hashFiles('**/package-lock.json') }}
          restore-keys: ${{ runner.os }}-npm-cache-

      - name: Gatsby QA Cache
        id: gatsby-qa-cache
        uses: actions/cache@v2
        with:
          path: |
            public
            .cache
          key: ${{ runner.os }}-gatsby-qa-${{ github.run_id }}
          restore-keys: ${{ runner.os }}-gatsby-qa-
      
      - name: Install dependencies
        run: npm ci

      - name: Set user info
        run: |
          git config --local user.name 'github-actions[bot]'
          git config --local user.email 'github-actions[bot]@users.noreply.github.com'
      
      - name: Build 
        run: |
          npm run build:qa
          rm -f public/CNAME
        env:
          NODE_OPTIONS: "--max-old-space-size=8192"
          EVENT_API_KEY_1: ${{ secrets.EVENT_API_KEY_1 }}
          EVENT_API_KEY_2: ${{ secrets.EVENT_API_KEY_2 }}
          EVENT_ORG_ID_1: ${{ secrets.EVENT_ORG_ID_1 }}
          EVENT_ORG_ID_2: ${{ secrets.EVENT_ORG_ID_2 }}
          GATSBY_GH_APP_GITALK_ID: ${{ secrets.GATSBY_GH_APP_GITALK_ID }}
          GATSBY_GH_APP_GITALK_SECRET: ${{ secrets.GATSBY_GH_APP_GITALK_SECRET }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          GATSBY_ENV: ${{ secrets.GATSBY_ENV }}
      
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          personal_token: ${{ secrets.GH_TOKEN }}
          external_repository: researchdata-sheffield/dataviz-hub2-qa 
          publish_branch: main
          publish_dir: ./public
          user_name: 'github-actions[bot]'
          user_email: 'github-actions[bot]@users.noreply.github.com'
